* {
  font-family: "Roboto", serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: var(--text-color);
  transition: var(--default-transition);
  outline-color: var(--stroke);
  outline-width: 2px;
}

body {
  margin: 0;
  height: 100vh;
}

a {
  text-decoration: none;
}

#root {
  min-height: 100%;
  overflow: auto;
  background-color: var(--background);
}

:root {
  --text-color: #000000;
  --black: #000000;
  --fill: #B9ADFF;
  --stroke: #664BFF;
  --background: #FFFFFF;
  --grey: #CFCFCF;
  --light-grey: #F4F4F4;
  --dark-grey: #888888;
  --just-a-little-red: #F4EAEA;
  --red-background: #2c0000;

  --default-transition: border-color 300ms ease-in-out,
                        color 300ms ease-in-out,
                        background-color 300ms ease-in-out,
                        outline-color 300ms ease-in-out,
                        box-shadow 300ms ease-in-out;
}

:root [data-theme='dark'] {
  --text-color: #FFFFFF;
  --black: #FFFFFF;
  --fill: #a090ff;
  --stroke: #664BFF;
  --background: #101010;
  --grey: #646464;
  --light-grey: #202020;
  --dark-grey: #888888;
  --just-a-little-red: #5e4f4f;
}

@import "credits";
